In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Store CSV into Dataframe

In [51]:
eruptions = "Resources/eruptions.csv"
eruptions_data = pd.read_csv(eruptions)

events = "Resources/events.csv"
events_df = pd.read_csv(events)

volcano = "Resources/volcano.csv"
volcano_df = pd.read_csv(volcano)

damage = "Resources/damage.csv"
damage_df = pd.read_csv(damage)

In [52]:
pd.set_option('max_columns',60)

In [53]:
list(damage_df.columns)

['volcanoName',
 'selectedEruption',
 'damages',
 'insuranceLosses',
 'totalDeaths',
 'areaLocation',
 'sources',
 'evacuation',
 'evacuationDuration',
 'displacedPersons',
 'homesAffected',
 'homesAffectedDollars',
 'agricultureArea',
 'agricultureAreaDollars',
 'cropType',
 'growingPeriod',
 'livestockAffected',
 'livestockAffectedDollars',
 'agricInfrastructure',
 'agricInfrastructureDollars',
 'forestArea',
 'forestAreaDollars',
 'roadsDestroyed',
 'roadsDestroyedDollars',
 'airportDestroyed',
 'airportDestroyedDollars',
 'bridgesDestroyed',
 'bridgesDestroyedDollars',
 'railroadDestroyed',
 'railroadDestroyedDollars',
 'portsDestroyed',
 'portsDestroyedDollars',
 'schoolsDestroyed',
 'schoolsDestroyedDollars',
 'hospitalsDestroyed',
 'hospitalsDestroyedDollars',
 'electricalGrid',
 'electricalGridDollars',
 'waterSupply',
 'waterSupplyDollars',
 'economicImpact',
 'timestamp',
 'User',
 'area_of_activity',
 'vei',
 'StartDate',
 'EndDate',
 'Duration',
 'volcano_number',
 'country',
 'region',
 'subregion',
 'latitude',
 'longitude',
 'population_within_100_km',
 'origin']

In [54]:
# show the top rows' values
damage_df.head()

,volcanoName,selectedEruption,damages,insuranceLosses,totalDeaths,areaLocation,sources,evacuation,evacuationDuration,displacedPersons,homesAffected,homesAffectedDollars,agricultureArea,agricultureAreaDollars,cropType,growingPeriod,livestockAffected,livestockAffectedDollars,agricInfrastructure,agricInfrastructureDollars,forestArea,forestAreaDollars,roadsDestroyed,roadsDestroyedDollars,airportDestroyed,airportDestroyedDollars,bridgesDestroyed,bridgesDestroyedDollars,railroadDestroyed,railroadDestroyedDollars,portsDestroyed,portsDestroyedDollars,schoolsDestroyed,schoolsDestroyedDollars,hospitalsDestroyed,hospitalsDestroyedDollars,electricalGrid,electricalGridDollars,waterSupply,waterSupplyDollars,economicImpact,timestamp,User,area_of_activity,vei,StartDate,EndDate,Duration,volcano_number,country,region,subregion,latitude,longitude,population_within_100_km,origin
0,Rabaul,Rabaul / 19-Sep 1994 -- 16-Apr 1995,110 000 \n(source #316). \n200 000 \n(source #...,120 000 \n(source #318).,5 \n(source # 316).,"The town of Rabaul. The surrounding villages, ...",[314] Bardintzeff Jacques Marie. Les risques ...,"Matupit Island, Rabaul Town and all villages w...","Permanent : ""authorities decided to resettle t...",80 000 \n(source #314).,"""Two thirds of buildings were destroyed. About...",USD 25 000 000 of damage in public housing.\n...,No data,No data,Cocoa \n(source #322).,Cocoa: low production between january to april...,No data,No data,No data,No data,No data,No data,Many roads were blocked.\n(source #324).,No data,"""During 1994, the volcanic eruption covered th...",No data,No data,No data,Not applicable,Not applicable,"""Tsunamis, probably resulting from the...",No data,Schools were destroyed.\n(source #327).,No data,Hospital and clinics were destroyed.\n(sourc...,No data,"""The power supply was shut down at the start o...",No data,Water supply was damaged. \n(source #327).\n,No data,"Damage to public infrastructure ( roads, air t...",881420,Hajare EL HADRI,Tavurvur and Vulcan,4.0,19/09/1994,16/04/1995,209.0,252140,Papua New Guinea,Melanesia and Australia,New Britain,-4.271,152.203,252121,Admin
1,Kelut,Kelut / 10-Feb 1990 -- 13-Mar 1990,8 000 \n(source #389).,No data,33\n(source #389).,The damaged area extend within a radius of ab...,[385] G. Kelud. Retrieved from: https://vsi.e...,No data,No data,60 000 \n(source #390).,2384 building damaged i.e 2053 houses wich wer...,No data,7 349 hectares of agricultural land were dama...,No data,"Rice, sugarcane, pineapple, cotton, cassava, c...",Rice main : harvesting period. (source #393).\...,No data,No data,No data,No data,No data,No data,No data,No data,Not impacted,0,No data,No data,No data,No data,Not applicable,Not applicable,199 schools damaged.\n(source #391).,No data,No data,No data,No data,No data,Most drinking water sources within 35 km radiu...,No data,No data,2491369,Hajare EL HADRI,NaN,4.0,10/02/1990,13/03/1990,31.0,263280,Indonesia,Indonesia,Java,-7.930,112.308,24999627,Admin
2,Mayon,Mayon / 09-Sep 1984 -- 06-Oct 1984,No data,No data,0 (source #340).,Pyroclastic flow affected southeast and east ...,[337] https://www.gmanetwork.com/news/news/nat...,"Daraga, Legaspi city, Guinobatan, Camalig, Lig...",No data,70 000 \n(source #342).,Thousands rendered homeless. ...,No data,"In Sto. Domingo, the major part of coconut pla...",No data,"Rice, coconuts, corn, vegetable.\n(source #343...",Coconuts : harvest throughout the year. ...,No data,No data,No data,No data,No data,No data,Legaspi Roads was washed out. \n(source #341...,No data,Disruptions to Legaspi Airport the 23 and 24 ...,No data,No data,No data,No data,No data,Not applicable,Not applicable,No data,No data,No data,No data,No data,No data,No data,No data,"Damage to crop infrastructure, livestock and h...",1679345,Hajare EL HADRI,NaN,3.0,9/09/1984,6/10/1984,27.0,273030,Philippines,Philippines and SE Asia,Luzon,13.257,123.685,4142375,Admin
3,Nyiragongo,Nyiragongo / 10-Jan 1977 -- 10-Jan 1977,No data\n,No data,147 ...,The erupted lava has reached distances 6 to 8 ...,"[1] Favalli M, Chirico GD, Papale P, Pareschi ...",No planned evacuation.,No planned evacuation.,65 000,400 houses destroyed. ...,No data,1200 hectares. ...,No data,"Bean, maize, vegetable, potatoes, bananas. ...","Maize, bean and rice: harvest period. ...",No data,No data,No data,No data,""" 3 to 5 millions m3 of lava had been draine...",No data,10 km of the main road linking Northern and S...,No data,No impact as the lava stopped less than 600 ...,0 (source #12).,No data,No data,Not applicable,Not applicable,Not applicable,Not applicable,No data,No data,No data,No data,No data,No data,No data,No data,No data,2351671,Hajare EL HADRI,"North, south, and west flanks",1.0,10/01/1977,10/01/1977,0.0,223030,DR Congo,Africa and Red Sea,Africa (central),-1.520,29.250,9087529,Admin
4,Mayon,Mayon / 21-Apr 1968 -- 20-May 1968,5 000 \n(source #331).\n,No data,3\n(source #331).,"Pyroclastic flow affected Tinobran, Quirangay,...",[329] Mayon Volcano and its frequent eruptions...,No data,No data,20 000 people \n,No data,No data,No data,No data,"Coconuts, rice and corn.\n(source #334).",Coconuts : harvest throughout the year. \...,No data,No data,No data,No data,No data,No data,Considerable damage to roads due to mudflows....,No data,Not impacted,Not impacted,No data,No data,The Manila-Legazpi railroad was damaged .\n(so...,No data,Not applicable,Not applicable,No data\n,No data\n,No data\n,No data\n,No data\n,No data\n,No data\n,No data\n,No data\n,1870005,Hajare EL HADRI,NaN,3.0,21/04/1968,20/05/1968,29.0,273030,Philippines,Philippines and SE Asia,Luzon,13.257,123.685,4142375,Admin

In [55]:
# Identify incomplete rows
damage_df.count()

volcanoName                   55
selectedEruption              55
damages                       55
insuranceLosses               55
totalDeaths                   55
areaLocation                  55
sources                       55
evacuation                    55
evacuationDuration            55
displacedPersons              55
homesAffected                 55
homesAffectedDollars          55
agricultureArea               55
agricultureAreaDollars        55
cropType                      55
growingPeriod                 55
livestockAffected             55
livestockAffectedDollars      55
agricInfrastructure           55
agricInfrastructureDollars    55
forestArea                    55
forestAreaDollars             55
roadsDestroyed                55
roadsDestroyedDollars         55
airportDestroyed              55
airportDestroyedDollars       55
bridgesDestroyed              55
bridgesDestroyedDollars       55
railroadDestroyed             55
railroadDestroyedDollars      55
portsDestroyed                55
portsDestroyedDollars         55
schoolsDestroyed              55
schoolsDestroyedDollars       55
hospitalsDestroyed            55
hospitalsDestroyedDollars     55
electricalGrid                55
electricalGridDollars         55
waterSupply                   55
waterSupplyDollars            55
economicImpact                55
timestamp                     55
User                          55
area_of_activity               5
vei                           50
StartDate                     55
EndDate                       51
Duration                      51
volcano_number                55
country                       55
region                        55
subregion                     55
latitude                      55
longitude                     55
population_within_100_km      55
origin                        55
dtype: int64

In [56]:
# Drop all rows with missing information  - can't use this as it removes too many
#damage_df = damage_df.dropna(how='any')

In [57]:
# Check for wrong data types. 
damage_df.dtypes

volcanoName                    object
selectedEruption               object
damages                        object
insuranceLosses                object
totalDeaths                    object
areaLocation                   object
sources                        object
evacuation                     object
evacuationDuration             object
displacedPersons               object
homesAffected                  object
homesAffectedDollars           object
agricultureArea                object
agricultureAreaDollars         object
cropType                       object
growingPeriod                  object
livestockAffected              object
livestockAffectedDollars       object
agricInfrastructure            object
agricInfrastructureDollars     object
forestArea                     object
forestAreaDollars              object
roadsDestroyed                 object
roadsDestroyedDollars          object
airportDestroyed               object
airportDestroyedDollars        object
bridgesDestroyed               object
bridgesDestroyedDollars        object
railroadDestroyed              object
railroadDestroyedDollars       object
portsDestroyed                 object
portsDestroyedDollars          object
schoolsDestroyed               object
schoolsDestroyedDollars        object
hospitalsDestroyed             object
hospitalsDestroyedDollars      object
electricalGrid                 object
electricalGridDollars          object
waterSupply                    object
waterSupplyDollars             object
economicImpact                 object
timestamp                       int64
User                           object
area_of_activity               object
vei                           float64
StartDate                      object
EndDate                        object
Duration                      float64
volcano_number                  int64
country                        object
region                         object
subregion                      object
latitude                      float64
longitude                     float64
population_within_100_km        int64
origin                         object
dtype: object

In [58]:
# Display an overview of the "damages" column
damage_df['damages'].value_counts()

No data                                                                                                                                                                                                                                                                                                                                                       21
No data                                                                                                                                                                                                                                                                                                                                                        2
No data\n                                                                                                                                                                                                                                                                                                                                                      2
150 000  (source #225).\n66 978   (source #226).                                                                                                                                                                                                                                                                                                               1
211 000 \n(source #501). \n 471 361, 949\n(source #502).                                                                                                                                                                                                                                                                                                       1
160 000\n(source #364). \nThe total value of physical damage  estimated to exceed USD 100 000.  \n(source #365). \nTotal losses  are estimated to USD 1 273,329. \n(source #366). \nEstimated damage was USD 15 000.\n(source #367).                                                                                                                           1
5 000 \n(source #331).\n                                                                                                                                                                                                                                                                                                                                       1
8 000 \n(source #289).                                                                                                                                                                                                                                                                                                                                         1
200 \n(source #261).                                                                                                                                                                                                                                                                                                                                           1
15 000 \n(source #414).                                                                                                                                                                                                                                                                                                                                        1
536 000    (source #538).                                                                                                                                                                                                                                                                                                                                      1
250 000 \n (source #516).                                                                                                                                                                                                                                                                                                                                      1
From September 2013 to May 2015 estimated damage and losses reached USD 190937,188. Consists of damage value of   USD 61 417, 068 and loss value of USD 130 473, 745.\n (source #81).\nThe  value  of  losses  due  to  Sinabung  volcano  disaster  estimated by the Regional  Disaster Management Agency amounts  to USD 143 202, 891.\n (source #82).\n     1
USD 4 700 000 ( the total impact on global GDP caused by the first week’s disruption).  (source #564).\n                                                                                                                                                                                                                                                       1
25 500 \n(source #378).\n                                                                                                                                                                                                                                                                                                                                      1
3 100 \n(source #146).                                                                                                                                                                                                                                                                                                                                         1
3 300 \n (source #436).                                                                                                                                                                                                                                                                                                                                        1
2 000 000 \n(source #45). \n1 301 077,097\n(source #47).                                                                                                                                                                                                                                                                                                       1
24 700 \n(source #245).\nThe total cost of the eruption was close to USD 100 000.\n(source #246).\n\n                                                                                                                                                                                                                                                          1
860 000 \n(source #483).\n                                                                                                                                                                                                                                                                                                                                     1
18 800 \n(source #308).                                                                                                                                                                                                                                                                                                                                        1
9 000 \n (source #15).                                                                                                                                                                                                                                                                                                                                         1
8 000 \n(source #389).                                                                                                                                                                                                                                                                                                                                         1
488 \n(source #163).                                                                                                                                                                                                                                                                                                                                           1
1 000 \n(source #40).\n 2 000\n(source #41).                                                                                                                                                                                                                                                                                                                   1
1 000 000 \n(source #187).\n246 054, 338 \n(source #188).                                                                                                                                                                                                                                                                                                      1
10 000 \n(source #404).                                                                                                                                                                                                                                                                                                                                        1
28 000  (source #678).\n\n                                                                                                                                                                                                                                                                                                                                     1
110 000 \n(source #316). \n200 000 \n(source # 314).\n100  000\n(source # 317).\n210 000  \n(source # 318).\n 86 000 \n(source # 319).\n                                                                                                                                                                                                                       1
16 500 \n (source #256).                \n31 000      \n (source #257).                                                                                                                                                                                                                                                                                        1
217 577, 363\n(source #66).                                                                                                                                                                                                                                                                                                                                    1
22 000 \n (source #281).                                                                                                                                                                                                                                                                                                                                       1
5 000 \n (source #198).\nLosses have been estimated at USD 850 . \n (source #199).\nTotal damage were USD  1 098, 323.\n (source #197).\n \n  \n                                                                                                                                                                                                               1
Name: damages, dtype: int64

In [59]:
# At the source, need to:
#1. Replace "No data" with -1 to indicate no data
#2. Remove spaces from the field
#3. Strip the first part before (source)

In [60]:
# clean the "damages" column's data by stripping unwanted comments and trimming spaces and other characters
def cleanup_column(column):
    damage_df[column] = damage_df[column].replace(
        {'No data': '0','No data\n': '0','No data ': '0'})
    damage_df[column] = damage_df[column].str.split(' \n').str[0]
    damage_df[column] = damage_df[column].str.split('\n').str[0]
    damage_df[column] = damage_df[column].str.replace(" ","")
    damage_df[column] = damage_df[column].str.replace(",","")
    damage_df[column] = damage_df[column].str.replace("(","#", regex=False)
    damage_df[column] = damage_df[column].str.split('#').str[0]
    damage_df[column] = damage_df[column].str.replace(".","")
    damage_df[column] = damage_df[column].str.replace("USD","")
    damage_df[column] = damage_df[column].str.split('rom').str[0]
    damage_df[column] = damage_df[column].str.replace("F","0")
    damage_df[column] = damage_df[column].str.split('pers').str[0]
    damage_df[column] = damage_df[column].str.split('people').str[0]
    damage_df[column] = damage_df[column].str.replace("NA","0")

In [61]:
cleanup_column("damages")
# Use pd.to_numeric() method to convert the datatype of the damages column
damage_df['damages'] = pd.to_numeric(damage_df['damages'])

#show the values
damage_df['damages'].value_counts()

<ipython-input-60-9eeca3a30add>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  damage_df[column] = damage_df[column].str.replace(".","")

0            26
8000          2
5000          2
1000000       1
22000         1
211000        1
200           1
16500         1
250000        1
110000        1
28000         1
160000        1
488           1
3300          1
860000        1
1000          1
4700000       1
3100          1
25500         1
15000         1
150000        1
217577363     1
10000         1
2000000       1
9000          1
18800         1
536000        1
24700         1
Name: damages, dtype: int64

In [62]:
cleanup_column("totalDeaths")

<ipython-input-60-9eeca3a30add>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  damage_df[column] = damage_df[column].str.replace(".","")

In [63]:
# Display an overview of the totalDeaths column
damage_df['totalDeaths'].value_counts()

0        19
1         5
2         2
3         2
5         2
30        1
500       1
1584      1
3000      1
1746      1
720       1
175       1
87        1
43        1
100       1
252       1
33        1
355       1
61        1
1000      1
640       1
200       1
79        1
39        1
2000      1
147       1
453       1
425       1
32        1
21800     1
Name: totalDeaths, dtype: int64

In [64]:
damage_df["Duration"] = damage_df["Duration"].replace(
        {'NA': 0})

In [65]:
damage_df["Duration"].value_counts()

0.0        6
2.0        3
80.0       2
1.0        1
27.0       1
88.0       1
160.0      1
79.0       1
1020.0     1
322.0      1
17.0       1
68.0       1
146.0      1
84.0       1
1056.0     1
605.0      1
10869.0    1
14.0       1
50.0       1
1875.0     1
29.0       1
1722.0     1
3553.0     1
1428.0     1
10823.0    1
2354.0     1
167.0      1
1993.0     1
1780.0     1
31.0       1
61.0       1
77.0       1
107.0      1
95.0       1
2259.0     1
315.0      1
236.0      1
13.0       1
4.0        1
2296.0     1
209.0      1
495.0      1
586.0      1
Name: Duration, dtype: int64

In [66]:
# Examples 
## strip leading and trailing space
#df1['State'] = df1['State'].str.strip()
## strip leading
#df1['State'] = df1['State'].str.lstrip()
## strip trailing space
#df1['State'] = df1['State'].str.rstrip()
## Strip all the space
#df1['State'] = df1['State'].str.replace(" ","")

In [67]:
damage_new_df=damage_df[['volcanoName','damages','totalDeaths','displacedPersons','StartDate','EndDate','Duration','volcano_number', 'country', 'latitude','longitude','population_within_100_km']]

In [68]:
damage_new_df.rename(columns={'volcanoName':'volcano_name','StartDate':'start_date','EndDate':'end_date','Duration':'duration','population_within_100_km':'population_within_100km'}, inplace=True)
list(damage_new_df.columns)

C:\Users\sampo\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

['volcano_name',
 'damages',
 'totalDeaths',
 'displacedPersons',
 'start_date',
 'end_date',
 'duration',
 'volcano_number',
 'country',
 'latitude',
 'longitude',
 'population_within_100km']

In [69]:
cleanup_column("displacedPersons")

<ipython-input-60-9eeca3a30add>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  damage_df[column] = damage_df[column].str.replace(".","")

In [70]:
# Display an overview of the totalDeaths column
damage_df['displacedPersons'].value_counts()

Notapplicable    7
0                3
2000             2
1500             2
80000            2
11000            2
20000            1
160000           1
400000           1
36923            1
4270             1
70000            1
700              1
12823            1
6000             1
22000            1
272              1
7000             1
500              1
65000            1
19000            1
1598             1
27000            1
40000            1
28000            1
4434             1
20963            1
5300             1
79000            1
100              1
4000             1
60000            1
964              1
9600             1
32616            1
17000            1
100000           1
1000             1
21916            1
50000            1
5000             1
2500             1
63055            1
Name: displacedPersons, dtype: int64